.about-US-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about-US-page .div {
    background-color: #ffffff;
    height: 2161px;
    position: relative;
    width: 1440px;
  }
  
  .about-US-page .overlap {
    background-image: url(https://c.animaapp.com/iUpDz7wD/img/rosewood-development-millwood-04-scaled-blue-g-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 561px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .about-US-page .graystone-white {
    height: 54px;
    left: 508px;
    object-fit: cover;
    position: absolute;
    top: 45px;
    width: 424px;
  }
  
  .about-US-page .group {
    height: 2px;
    left: 404px;
    position: absolute;
    top: 290px;
    width: 635px;
  }
  
  .about-US-page .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 633px;
  }
  
  .about-US-page .overlap-group {
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 41px;
    height: 82px;
    left: 1312px;
    position: absolute;
    top: 456px;
    width: 82px;
  }
  
  .about-US-page .ig-white {
    height: 46px;
    left: 14px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 46px;
  }
  
  .about-US-page .facebook-white-wrapper {
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 41px;
    height: 82px;
    left: 1208px;
    position: absolute;
    top: 456px;
    width: 82px;
  }
  
  .about-US-page .facebook-white {
    height: 46px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 46px;
  }
  
  .about-US-page .group-2 {
    height: 36px;
    left: 454px;
    position: absolute;
    top: 133px;
    width: 540px;
  }
  
  .about-US-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 152px;
  }
  
  .about-US-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 182px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 178px;
  }
  
  .about-US-page .text-wrapper-4 {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 390px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 144px;
  }
  
  .about-US-page .ellipse {
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 41px;
    height: 82px;
    left: 1323px;
    position: absolute;
    top: 910px;
    width: 82px;
  }
  
  .about-US-page .overlap-2 {
    height: 351px;
    left: 221px;
    position: absolute;
    top: 698px;
    width: 1080px;
  }
  
  .about-US-page .ellipse-2 {
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 41px;
    height: 82px;
    left: 998px;
    position: absolute;
    top: 212px;
    width: 82px;
  }
  
  .about-US-page .greyston-luxury {
    color: #000000;
    font-family: "Playfair Display", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1000px;
  }
  
  .about-US-page .span {
    font-weight: 500;
  }
  
  .about-US-page .text-wrapper-5 {
    color: #000000;
    font-family: "Playfair Display", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .about-US-page .p {
    color: #474747;
    font-family: "Playfair Display", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 352px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 612px;
    width: 738px;
  }
  
  .about-US-page .overlap-group-wrapper {
    height: 53px;
    left: 614px;
    position: absolute;
    top: 1081px;
    width: 214px;
  }
  
  .about-US-page .div-wrapper {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #000000;
    height: 53px;
    position: relative;
    width: 212px;
  }
  
  .about-US-page .text-wrapper-6 {
    color: #000000;
    font-family: "Playfair Display", Helvetica;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 124px;
  }
  
  .about-US-page .group-3 {
    height: 522px;
    left: 45px;
    position: absolute;
    top: 1182px;
    width: 1351px;
  }
  
  .about-US-page .rectangle {
    height: 522px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 434px;
  }
  
  .about-US-page .img {
    height: 522px;
    left: 459px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 434px;
  }
  
  .about-US-page .rectangle-2 {
    height: 522px;
    left: 917px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 434px;
  }
  
  .about-US-page .overlap-3 {
    background-image: url(https://c.animaapp.com/iUpDz7wD/img/rectangle-5.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
    left: 0;
    position: absolute;
    top: 1761px;
    width: 1440px;
  }
  
  .about-US-page .group-4 {
    height: 20px;
    left: 404px;
    position: absolute;
    top: 216px;
    width: 635px;
  }
  
  .about-US-page .text-wrapper-7 {
    color: #0c4470;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 633px;
  }
  
  .about-US-page .logo {
    height: 57px;
    left: 496px;
    object-fit: cover;
    position: absolute;
    top: 51px;
    width: 448px;
  }
  
  .about-US-page .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 42px;
    left: 479px;
    position: absolute;
    top: 304px;
    width: 482px;
  }
  
  .about-US-page .text {
    align-self: stretch;
    color: #000000;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .about-US-page .text-wrapper-8 {
    color: #000000;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
  