.homepage__wrapper {
  background-image: url(https://c.animaapp.com/q5aj6oWM/img/rosewood-development-millwood-04-scaled-blue-g-1.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items:center;
  justify-content: space-between;
}

.homepage__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: x-large;
  font-weight: 500;
  font-size: 3vmin;
}
.homepage__text{
  width: 80vw;
}
.social__logos{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
.social__logo{
  width: 10vmin;
}