.project-property {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .project-property .div {
    background-color: #ffffff;
    height: 2248px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .project-property .overlap {
    background-image: url(https://c.animaapp.com/29Yj1tFZ/img/mask-group.png);
    background-size: 100% 100%;
    height: 561px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .project-property .graystone-white {
    height: 54px;
    left: 508px;
    object-fit: cover;
    position: absolute;
    top: 45px;
    width: 424px;
  }
  
  .project-property .group {
    height: 160px;
    left: 404px;
    position: absolute;
    top: 132px;
    width: 635px;
  }
  
  .project-property .group-2 {
    height: 36px;
    left: 50px;
    position: absolute;
    top: 0;
    width: 540px;
  }
  
  .project-property .text-wrapper {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 152px;
  }
  
  .project-property .text-wrapper-2 {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 182px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 178px;
  }
  
  .project-property .text-wrapper-3 {
    color: #ffffff;
    font-family: "Playfair Display", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 390px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 144px;
  }
  
  .project-property .p {
    color: #ffffff;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 158px;
    white-space: nowrap;
    width: 633px;
  }
  
  .project-property .footer {
    background-color: transparent;
    height: 400px;
    left: 0;
    position: absolute;
    top: 1848px;
    width: 1442px;
  }
  
  .project-property .overlap-group {
    background-image: url(https://c.animaapp.com/29Yj1tFZ/img/rectangle-5.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 1440px;
  }
  
  .project-property .div-wrapper {
    height: 20px;
    left: 404px;
    position: absolute;
    top: 216px;
    width: 635px;
  }
  
  .project-property .text-wrapper-4 {
    color: #0c4470;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 633px;
  }
  
  .project-property .logo {
    height: 57px;
    left: 496px;
    object-fit: cover;
    position: absolute;
    top: 51px;
    width: 448px;
  }
  
  .project-property .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 42px;
    left: 479px;
    position: absolute;
    top: 305px;
    width: 482px;
  }
  
  .project-property .text {
    align-self: stretch;
    color: #000000;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .project-property .span {
    color: #000000;
    font-family: "Montserrat Subrayada", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .project-property .text-wrapper-5 {
    color: #474747;
    font-family: "Playfair Display", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 257px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 637px;
    width: 926px;
  }
  
  .project-property .group-3 {
    height: 374px;
    left: 122px;
    position: absolute;
    top: 724px;
    width: 1196px;
  }
  
  .project-property .rectangle {
    height: 374px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 568px;
  }
  
  .project-property .img {
    height: 374px;
    left: 628px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 568px;
  }
  
  .project-property .group-4 {
    height: 374px;
    left: 122px;
    position: absolute;
    top: 1263px;
    width: 1196px;
  }
  
  .project-property .overlap-wrapper {
    height: 53px;
    left: 300px;
    position: absolute;
    top: 1138px;
    width: 214px;
  }
  
  .project-property .overlap-2 {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #000000;
    height: 53px;
    position: relative;
    width: 212px;
  }
  
  .project-property .text-wrapper-6 {
    color: #000000;
    font-family: "Playfair Display", Helvetica;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 124px;
  }
  
  .project-property .overlap-group-wrapper {
    height: 53px;
    left: 300px;
    position: absolute;
    top: 1677px;
    width: 214px;
  }
  
  .project-property .group-5 {
    height: 53px;
    left: 928px;
    position: absolute;
    top: 1138px;
    width: 214px;
  }
  
  .project-property .group-6 {
    height: 53px;
    left: 928px;
    position: absolute;
    top: 1677px;
    width: 214px;
  }
  